footer {
    width: 94vw;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 5px;
}

footer p {
    padding-left: 2rem;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

footer p svg {
    margin-right: 7px;
}

footer h2 {
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    font-size: 1.4rem;
}

footer a {
    color: #fff;
    font-style: italic;
}

@media (min-width: 700px) {
    footer {
        width: 60vw;
    }

    footer p {
        padding-left: 2rem;
        line-height: 2.8rem;
        font-size: 1.5rem;
    }
}