@media (min-width: 700px) {
  #page-home-content h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -25px;
  }

  .section-select {
    display: flex;
    max-width: 60vw;
    height: 60vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .section-select-os {
    width: 55vw;
    max-width: 400px;
    /* margin-right: 10px; */
  }
  .section-select-os p {
    font-size: 1.8rem;
  }
  #page-home svg {
    height: 7rem;
    width: auto;
  }

  #page-home hr {
    display: none;
  }
}
