#page-home-content h2 {
    color: var(--color-text-in-primary);
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 25px;
    margin-top: -25px;
}

.section-select {
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 94vw; */
    margin: 0 auto;
    border-radius: 1.2rem;
    padding: 15px 0px;
}

#page-home hr {
    border: 0;
    width: 32%;
    background-color:#e0e0e0;
    height: 1px;
}

.section-select-os {
    text-align: center;
    /* width: 55vw; */
    transition: 0.3s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 2rem;
}

.section-select-os p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0 5px;
    letter-spacing: 0.1rem;
}

#page-home svg {
    height: 5rem;
    width: auto;
}

svg[data-icon="android"] {
    margin-top: 15px;
}

p.android, svg[data-icon="android"] {
    color: #669900;
}

svg[data-icon='apple'] {
    margin-top: 15px;
}

p.ios {
    color: var(--color-text-in-primary);
}

svg[data-icon='apple'] {
    color: #000;
}

.section-select-os:hover {
    /* -webkit-transform: translate(0,-5px); /* Safari */
    transform: translate(0,-3px);
    background-color: #43A8ED;
    cursor: pointer;
    /* border-bottom: 5px solid #43A8ED; */
}

.section-select-os:hover svg,
.section-select-os:hover p,
.section-select-os:focus svg,
.section-select-os:focus p,
.section-select-os:active svg,
.section-select-os:visited p {
    color: #fff;
}

@media (min-width: 700px) {
    #page-home-content h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
        margin-top: -25px;
    }

    .section-select {
        display: flex;
        max-width: 60vw;
        height: 60vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .section-select-os {
        width: 55vw;
        max-width: 400px;
        /* margin-right: 10px; */
    }
    .section-select-os p{
        font-size: 1.8rem;
    }
    #page-home svg {
        height: 7rem;
        width: auto;
    }

    #page-home hr {
        display: none;
    }
}
