:root {
  --text: #3c3c3c;
  font-size: 80%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body,
input,
button,
textarea {
  font-family: Lato;
}

a:-webkit-any-link {
  text-decoration: none;
}

/*FOOTER */
footer {
  margin-bottom: 30px;
  padding-bottom: 25px;
  margin-top: 150px;
  background-color: #004d6b;
  color: white;
  box-shadow: 0 8px 6px -4px #999;
}

@media (max-width: 736px) {
  #intro {
    font-size: 20px;
  }

  .tutorial-steps {
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  #contato {
    font-size: 95%;
  }

  footer {
    margin-top: 60px;
    padding-bottom: 25px;
  }

  .carousel-item > img {
    max-height: 250px;
    max-width: 250px;
    margin: 0 auto;
  }

  .tutorial-steps {
    max-width: 250px;
    font-size: 10px;
  }

  p.display-4 {
    font-size: 25px;
  }
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
